/* .container{
    position:fixed;
    width: 400px;
    height: 200px;
    background-color: aqua;
    align-items: flex-start

}


.valueForm{

    width: 49%;
    background-color: blue;
}

.valueResult{

    width: 49%;
    background-color: aquamarine;

}

.divider{
    width: 2%;
} */